
/* I am slowly integrating all of my css files into one usuable theme here so there will be a lot of upgrades coming. */
/* My edits */
.workspace-tabs .workspace-leaf .view-content {
    height: 100%;
    background: #000000;
    
}
.workspace-tab-header-container {
    display: flex;
    background-color: #090404;
    height: var(--header-height);
    border-bottom: var(--tab-outline-width) solid var(--tab-outline-color);
    flex: 0 0 auto;
    padding-left: var(--size-4-2);
    padding-right: var(--size-4-2);
    position: relative;
}
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
    background-color: #0e0808;
    border-top: var(--tab-outline-width) solid var(--tab-outline-color);
    display: var(--vault-profile-display);
    align-items: center;
    height: unset;
    flex: 0 0 auto;
    gap: var(--size-4-1);
    justify-content: space-between;
    padding: var(--size-4-2) var(--size-4-2);
    order: 1;
}
body.is-focused .titlebar, body.is-focused .workspace-ribbon.mod-left {
    --titlebar-background: #091e20d8;
}
.workspace-ribbon.mod-left {
    margin-top: var(--header-height);
    background: #091e20d8;
}
.bases-thead .bases-table-header {
    display: flex;
    width: 100%;
    align-items: center;
    height: var(--bases-table-row-height);
    background: #141418;
}
.is-focused .workspace-leaf.mod-active .view-header {
    background-color: #141418;
}
.workspace .mod-root .workspace-tab-header {
    -webkit-app-region: no-drag;
    container-type: inline-size;
    container-name: tab-header;
    flex: 1 1 0;
    width: var(--tab-width);
    min-width: 0;
    max-width: var(--tab-max-width);
    padding: 1px 3px 3.5px;
    background: #141418;
}
.nav-files-container {
    font-family: 'Comic Sans MS';
    background: #000000;
}
.nav-header {
    padding: var(--size-4-2);
    background: #000000;
}
div.workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed {
    background: #091e20d8;
}
/* for adding file and folder icons beside file names*/


.tree-item.is-collapsed .tree-item-self .tree-item-icon:before {
    content: '📁'; /* closed folder */
}

.tree-item:not(.is-collapsed) .tree-item-self .tree-item-icon:before {
    content: '📂'; /* open folder */
}
.tree-item-self .tree-item-icon{
  font-size: 1.2em;
  margin-right: 0.2em;
}
.nav-file .nav-file-title[data-path]::before {
  -webkit-mask-repeat: no-repeat;
  background-color: transparent;
  mask-repeat: no-repeat;
  content: "📄";
  display: flex;
  flex-shrink: 0;
  height: var(--size-4-4);
  margin-left: calc(-1* var(--size-4-5));
  opacity: var(--icon-opacity);
  position: absolute;
  width: var(--size-4-4);
}
/* Command palette styling */
.prompt {
  border: solid var(--text-accent);
  opacity: 0.9;
}

.suggestion-highlight {
  text-decoration: none;
  color: var(--text-accent);
}

.suggestion-item.is-selected {
  border: solid var(--text-accent);
  border-radius: 14px;
}

.suggestion-hotkey {
  background-color: var(--text-accent);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-weight: 500;
}

.prompt-instruction {
  font-weight: 500;
}

.prompt-instruction-command {
  background-color: rgb(250, 252, 255, 0.5);
  color: black;
  border-radius: 10px;
  padding: 0 3px 0 3px;
}


/* Settings panel styling */
.modal-container.mod-dim .modal {
    box-shadow: var(--shadow-l);
    opacity: 0.7;
}
.horizontal-tab-content, .vertical-tab-content {
    padding-inline-start: var(--size-4-12);
    padding-inline-end: var(--size-4-12);
    container-type: inline-size;
    background-color: #000000;
    color: #ffffff;
    font: 400 14px 'Comic Sans MS', sans-serif;
}
.vertical-tab-header {
    padding: var(--size-4-3);
    background-color: #000000;
    font: 400 14px 'Comic Sans MS', sans-serif;
    color: #ffffff;
}
/* Excalidraw css styles */

.excalidraw {
    --default-button-size: 4rem !important;
    --default-icon-size: 2rem !important;
    --lg-button-size: 1.8rem !important;
    --lg-icon-size: 2rem !important;
}
.excalidraw .sidebar-trigger {
  padding: 0;
}
.mobile-misc-tools-container{
  padding: 0.8rem;
  gap: 1rem;
}
.excalidraw .dropdown-menu .dropdown-menu-item-base {
    box-sizing: border-box;
    color: var(--color-on-surface);
    column-gap: .625rem;
    display: flex;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
}
.excalidraw [data-testid="canvas-background-label"] {
    font-size: 1.4rem !important;
    margin-bottom: 0.5rem !important;
}
.excalidraw .dropdown-menu .dropdown-menu-item svg {
    width: 2rem;
    height: 2rem;

}
.excalidraw .selected-shape-actions .control-label, .excalidraw .selected-shape-actions h3, .excalidraw .selected-shape-actions legend {
    color: var(--text-primary-color);
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 0 .25rem;
}
.excalidraw .App-mobile-menu {
    width: 20rem !important;
}

/* ************************************************************* */
/* ************************************************************* */
/* for coloring file and folder titles */
/*This part's author: sailKite
source: https://discord.com/channels/686053708261228577/702656734631821413/1163095446919585843
*/

/* updated snippet for v1.6.3  */

.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder {
  --nav-item-color: var(--nav-item-color);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:hover {
  filter: brightness(0.9);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 2) {
  --nav-item-color: rgb(243, 139, 168);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 3) {
  --nav-item-color: rgb(235, 160, 172);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 4) {
  --nav-item-color: rgb(250, 179, 135);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 5) {
  --nav-item-color: rgb(249, 226, 175);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 6) {
  --nav-item-color: rgb(166, 227, 161);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 7) {
  --nav-item-color: rgb(148, 226, 213);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 8) {
  --nav-item-color: rgb(137, 220, 235);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 9) {
  --nav-item-color: rgb(116, 199, 236);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 10) {
  --nav-item-color: rgb(135, 176, 249);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 11) {
  --nav-item-color: rgb(180, 190, 254);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 12) {
  --nav-item-color: rgb(203, 166, 247);
}
/* ****************************************************************** */
