/* My edits for dark theme  */
  /* This theme does not work well for light theme. */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
*{
  --dark: rgb(0, 0, 0);
  --dark-1:rgb(15, 15, 15);
  --dark-2: rgb(20, 20, 24); 
  --dark-4: rgb(24, 24, 21);
  --dark-3: rgb(65, 69, 89);
  --dark-5: rgb(9, 4, 4);
  --dark-6: rgb(41, 44, 60);
  --light: rgb(255, 255, 255);
  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-800: 800;
  --light-1: rgb(183, 192, 228);
  --light-2: #c6d0f5;
  --dark-green: rgba(9, 30, 32, 0.847);
  --dark-green-1: rgba(53, 85, 87, 0.925);
  --box-shadow-mn: 1px 1px 1px grey;
  --background-lav-1: rgb(186, 187, 241);
  --red-light-1: rgb(235, 188, 186);
  --red-light-2: rgb(174, 113, 86);
  --red-1: rgb(241, 25, 25);
  --red-2: rgb(255, 0, 0);

}
body{
  --h1-color: rgb(255, 209, 102);
  --h2-color: rgb(251, 162, 193);
  --h3-color: rgb(217, 179, 255);
  --h4-color: rgb(132, 223, 251);
  --h5-color: rgb(255, 191, 173);
  --h6-color: rgb(95, 255, 209);
  --text-normal: rgb(198, 208, 245);
  --text-muted: rgb(165, 173, 206);
  --interactive-normal: var(--dark-3);
  --inline-title-color: rgb(238, 190, 190);
  --text-on-accent: rgb(198, 208, 245);
  --link-color:rgb(140, 170, 238);
  --link-decoration: none;
  --link-color-hover:rgb(140, 170, 238);
  --link-decoration-hover: underline;
  --list-bullet-radius: 30%;
  --list-bullet-size: 0.6em;
  --nav-item-color-hover: var(--dark);
  --nav-item-background-hover: var(--light);
  --nav-item-weight-hover: var(--font-weight-600);
  --pill-color-remove-hover: var(--light-1);
  --pill-color-remove: var(--light);
  --background-side-dark-green-1: var(--dark-green-1);
  --metadata-property-radius: 32px;
  --metadata-property-radius-hover: 32px;
  --metadata-property-radius-focus: 32px;
  --metadata-gap: 8px;
  --metadata-property-padding: 6px;
  --nav-item-color-active: var(--dark-6);
  --nav-item-background-active: var(--background-lav-1);
  --nav-item-weight-active: var(--font-weight-600);
  --code-border: solid var(--red-light-1);
  --markdown-font-family: "Merienda", cursive;
  --other-font-family: 'Comic Sans MS', sans-serif;
  --checkbox-marker-color: rgba(0, 0, 0, 0.651);
  --checkbox-color-hover-border: rgb(241, 161, 161);
  --checkbox-color-hover: rgb(212, 133, 130);
  --checkbox-color: var(--red-light-1);
  --link-external-color: rgb(186, 224, 235);
  --checklist-done-color: rgb(79, 220, 138);
  --titlebarandribbonbar-background-color: var(--dark-green);
  --titlebarandribbon-font-color: var(--light-2);
}
.theme-dark{
  --interactive-normal: var(--dark-3);
  --interactive-accent: var(--dark-3);
  --interactive-accent-hover: var(--dark-3);
}
.workspace-tabs .workspace-leaf .view-content {
  height: 100%;
  background: var(--dark);
}
.workspace-tab-header-container {
  display: flex;
  background-color: var(--dark-5);
  height: var(--header-height);
  border-bottom: var(--tab-outline-width) solid var(--tab-outline-color);
  flex: 0 0 auto;
  padding-left: var(--size-4-2);
  padding-right: var(--size-4-2);
  position: relative;
}
/* Colorful active tabs */
.workspace .mod-root .workspace-tab-header:nth-child(10n+1){
  border: 1px dotted rgb(255, 99, 132);
}
.workspace .mod-root .workspace-tab-header:nth-child(10n+2){
  border: 1px dotted rgb(255, 159, 64);
}
.workspace .mod-root .workspace-tab-header:nth-child(10n+3){
  border: 1px dotted rgb(255, 205, 86);
}
.workspace .mod-root .workspace-tab-header:nth-child(10n+4){
  border: 1px dotted rgb(75, 192, 192);
}
.workspace .mod-root .workspace-tab-header:nth-child(10n+5){
  border: 1px dotted rgb(54, 162, 235);
}
.workspace .mod-root .workspace-tab-header:nth-child(10n+6){
  border: 1px dotted rgb(153, 102, 255);
}
.workspace .mod-root .workspace-tab-header:nth-child(10n+7){
  border: 1px dotted rgb(74, 44, 224);
}
.workspace .mod-root .workspace-tab-header:nth-child(10n+8){
  border: 1px dotted rgb(0, 200, 150);
}
.workspace .mod-root .workspace-tab-header:nth-child(10n+9){
  border: 1px dotted rgb(255, 120, 200);
}
.workspace .mod-root .workspace-tab-header:nth-child(10n+10){
  border: 1px dotted rgb(120, 220, 255);
}
.workspace .mod-root .workspace-tab-header:not(.is-active) {
  border: 1px solid var(--dark-1);
}
.workspace-split.mod-root .workspace-tab-header-container .workspace-tab-header.is-active::before, .workspace-split.mod-root .workspace-tab-header-container .workspace-tab-header.is-active::after {
    box-shadow: inset 0 0 0 var(--tab-outline-width) rgba(0, 0, 0, 0), 0 0 0 calc(var(--tab-curve) * 4) rgba(18, 17, 17, 0.66);
}
/* Checkbox */

input[type=checkbox] {
  border-radius: 8px;
}
@media (hover: hover) {
  input[type=checkbox]:checked:hover {
      background-color: var(--checkbox-color-hover);
      border-color: var(--checkbox-color-hover-border);
  }
}
/* Search page background and other stuff */
.workspace-leaf-content {
  background: var(--dark);
}
.suggestion-container.mod-search-suggestion .suggestion {
  background-color: rgb(1, 1, 1);
}
.search-result:not(.is-collapsed) .search-result-file-title {
    color: rgb(198 208 245);
}
/*******/

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
  background-color: rgb(14, 8, 8);
  border-top: var(--tab-outline-width) solid var(--tab-outline-color);
  display: var(--vault-profile-display);
  align-items: center;
  height: unset;
  flex: 0 0 auto;
  gap: var(--size-4-1);
  justify-content: space-between;
  padding: var(--size-4-2) var(--size-4-2);
  order: 1;
}
.bases-thead .bases-table-header {
  background: var(--dark-2);
}
.is-focused .workspace-leaf.mod-active .view-header {
  background-color: var(--dark-2);
}
.workspace .mod-root .workspace-tab-header {
  -webkit-app-region: no-drag;
  container-type: inline-size;
  container-name: tab-header;
  flex: 1 1 0;
  width: var(--tab-width);
  min-width: 0;
  max-width: var(--tab-max-width);
  padding: 1px 3px 3.5px;
  background: var(--dark-2);
}
.nav-files-container {
  font-family: var(--other-font-family);
  background: var(--dark);
}
.nav-header {
  padding: var(--size-4-2);
  background: var(--dark);
}

/* for adding file and folder icons beside file names*/


.tree-item.is-collapsed .tree-item-self .tree-item-icon:before {
  content: '📁'; /* closed folder */
}

.tree-item:not(.is-collapsed) .tree-item-self .tree-item-icon:before {
  content: '📂'; /* open folder */
}
.nav-folder-title {
  font-weight: bold;
  font-size: 14px;
}
.tree-item-self .tree-item-icon{
  font-size: 1.2em;
  margin-right: 0.6em !important;
}
.nav-file-title-content,
.nav-folder-title-content {
  margin-top: 0.2em;
}
body:not(.nav-file-indicators) .nav-file .nav-file-title .nav-file-title-content::before {
  -webkit-mask-repeat: no-repeat;
  background-color: transparent;
  mask-repeat: no-repeat;
  content: "📄";
  display: flex;
  flex-shrink: 0;
  height: var(--size-4-4);
  margin-left: calc(-1* var(--size-4-5));
  position: absolute;
  width: 20px;
  height: 20px;
}
.workspace-leaf-content[data-type="file-explorer"] .nav-file-title:is([data-path$=".svg"], [data-path$=".bmp"], [data-path$=".jpeg"], [data-path$=".jpg"], [data-path$=".png"], [data-path$=".gif"])>.nav-file-title-content::before{
  content: "🖼️";
}
.workspace-leaf-content[data-type="file-explorer"] .nav-file-title:is([data-path$=".mp4"], [data-path$=".mp3"], [data-path$=".gif"], [data-path$=".webm"], [data-path$=".mov"], [data-path$=".mkv"], [data-path$=".mpv"], [data-path$=".webp"])>.nav-file-title-content::before{
  content: "🎞️";
}
.workspace-leaf-content[data-type="file-explorer"] .nav-file-title:is([data-path$=".pdf"])>.nav-file-title-content::before{
  content: "📖";
}
.workspace-leaf-content[data-type="file-explorer"] .nav-file-title:is([data-path$=".pdf"]:not(.is-active))>.nav-file-title-content::before{
  content: "📕";
}
body:not(.nav-file-indicators) .nav-file .nav-file-title[data-path*=".canvas"] .nav-file-title-content::before {
  content: '🧩';
}
.nav-file-title, .nav-folder-title{
  margin-bottom: 6px;
}

/* Command palette styling */
.prompt {
  border: solid var(--red-light-1);
  opacity: 0.9;
}

.suggestion-highlight {
  text-decoration: none;
  color: var(--red-light-1);
}

.suggestion-item.is-selected {
  border: solid var(--red-light-1);
  border-radius: 14px;
}
.suggestion-hotkey {
  background-color: var(--red-light-1);
  color: var(--dark);
  border-radius: 10px;
  font-weight: 500;
}

.prompt-instruction {
  font-weight: 500;
}

.prompt-instruction-command {
  background-color: rgb(0 0 0 / 50%);
  color: var(--light);
  border-radius: 10px;
  padding: 0 3px 0 3px;
}

.search-input-clear-button:after {
  background-color: rgb(228, 29, 29);
}
.search-suggest-item.mod-group:hover, .search-suggest-item.mod-group.is-selected {

  border: #363636;
}
/* plugin panel styling */
.modal.mod-sidebar-layout {
  opacity: 0.9;
}
.modal-sidebar {
  --background-modifier-form-field: rgb(26, 23, 23);
  background-color: var(--dark);
}

/* Settings panel styling */
.modal-container.mod-dim .modal {
  box-shadow: var(--shadow-l);
  opacity: 0.8;
}
.horizontal-tab-content, .vertical-tab-content {
  padding-inline-start: var(--size-4-12);
  padding-inline-end: var(--size-4-12);
  container-type: inline-size;
  background-color: var(--dark);
  color: var(--light);
  font: 400 14px var(--other-font-family);
}
.vertical-tab-header {
  padding: var(--size-4-3);
  background-color: var(--dark);
  font: 400 14px var(--other-font-family);
  color: var(--light);
}
button.mod-cta{
  --text-color: #CDd0F5;
}
@media (hover: hover) {
    button.mod-cta:hover {
        background-color: #3f3f3f;
    }
}

/* code block color */
.markdown-rendered pre {
  border-left: solid;
  border: var(--code-border);
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  border-left: solid;
}
/* live preview */
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
  background: var(--code-background);
  border-top: var(--code-border);
  /* stylelint-disable-next-line declaration-no-important */
  border-top-right-radius: 8px !important;
  /* stylelint-disable-next-line declaration-no-important */
  border-top-left-radius: 8px !important;
  margin-top: 8px;
}

.cm-s-obsidian div.HyperMD-codeblock-end-bg {
  background: var(--code-background);
  border-bottom: var(--code-border);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.cm-s-obsidian div.HyperMD-codeblock-bg {
  border-right: var(--code-border);
  border-left: var(--code-border);
}

/* settings close button styling */

.modal-close-button {
  width: 20px;
  height: fit-content;
  transition: opacity 0.15s ease-in-out;
  position: absolute;
  top: 6px;
  padding: 0 4px;
}

.document-search-close-button, .modal-close-button {
  font-size: 20px;
  line-height: 20px;
  background: var(--red-1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.document-search-close-button, .modal-close-button:hover{
  background: var(--red-2);
}
.document-search-close-button, .modal-close-button svg{
  stroke-width: 3px;
  height: 18px;
  width: 18px;
}
body.styled-scrollbars .modal-close-button {
  inset-inline-end: 16px;
  color: var(--dark);
}
/* Settings sidebar styling inspired by primary theme of Obsidian and sailKite */
.modal .vertical-tab-nav-item.is-active:not(body.is-phone .vertical-tab-nav-item){
  background: var(--background-side-dark-green-1);
}
.modal .vertical-tab-nav-item.is-active:nth-child(11n+1):not(body.is-phone .vertical-tab-nav-item) {
  color: rgb(203, 166, 247);
}

.modal .vertical-tab-nav-item.is-active:nth-child(11n+2):not(body.is-phone .vertical-tab-nav-item) {
  color: rgb(166, 227, 161);
}
.modal .vertical-tab-nav-item.is-active:nth-child(11n+3):not(body.is-phone .vertical-tab-nav-item) {
  color: rgb(180, 190, 254);
}
.modal .vertical-tab-nav-item.is-active:nth-child(11n+4):not(body.is-phone .vertical-tab-nav-item) {
  color: rgb(122, 116, 236);
}
.modal .vertical-tab-nav-item.is-active:nth-child(11n+5):not(body.is-phone .vertical-tab-nav-item) {
  color: rgb(243, 139, 168);
}
.modal .vertical-tab-nav-item.is-active:nth-child(11n+6):not(body.is-phone .vertical-tab-nav-item) {
  color: rgb(148, 226, 213);
}
.modal .vertical-tab-nav-item.is-active:nth-child(11n+7):not(body.is-phone .vertical-tab-nav-item) {
  color: rgb(249, 226, 175);
}
.modal .vertical-tab-nav-item.is-active:nth-child(11n+8):not(body.is-phone .vertical-tab-nav-item) {
  color: rgb(239, 247, 166);
}
.modal .vertical-tab-nav-item.is-active:nth-child(11n+9):not(body.is-phone .vertical-tab-nav-item) {
  color: rgb(247, 166, 180);
}
.modal .vertical-tab-nav-item.is-active:nth-child(11n+10):not(body.is-phone .vertical-tab-nav-item) {
  color: rgb(242, 116, 38);
}
.modal .vertical-tab-nav-item.is-active:nth-child(11n+11):not(body.is-phone .vertical-tab-nav-item) {
  color: rgb(212, 255, 245);
}

.modal .vertical-tab-nav-item:not(.is-active):hover {
  padding: calc(6px + 1px) 12px calc(6px + 1px) 20px;
  background-color: transparent;
}
/* ************************************************************* */

.vertical-tab-header-group-title {
  font-size: 16px;
  color: #a5adce;
}

.menu-scroll {
  background: var(--dark);
  border: #1f2a2f solid 1px;
  border-radius: 12px;
  
}

.workspace-ribbon .side-dock-actions .clickable-icon:not(.is-active):hover:nth-child(11n+1){
  color: rgb(255, 158, 92);
}
.workspace-ribbon .side-dock-actions .clickable-icon:not(.is-active):hover:nth-child(11n+2){
  color: rgb(255, 128, 191);
}
.workspace-ribbon .side-dock-actions .clickable-icon:not(.is-active):hover:nth-child(11n+3){
  color: rgb(203, 166, 247)
}
.workspace-ribbon .side-dock-actions .clickable-icon:not(.is-active):hover:nth-child(11n+4){
  color: rgb(124, 255, 213);
}
.workspace-ribbon .side-dock-actions .clickable-icon:not(.is-active):hover:nth-child(11n+5){
  color: rgb(90, 200, 250);
}
.workspace-ribbon .side-dock-actions .clickable-icon:not(.is-active):hover:nth-child(11n+6){
  color: rgb(255, 216, 107);
}
.workspace-ribbon .side-dock-actions .clickable-icon:not(.is-active):hover:nth-child(11n+7){
  color: rgb(255, 93, 115);
}
.workspace-ribbon .side-dock-actions .clickable-icon:not(.is-active):hover:nth-child(11n+8){
  color: rgb(167, 139, 250);
}
.workspace-ribbon .side-dock-actions .clickable-icon:not(.is-active):hover:nth-child(11n+9){
  color: rgb(158, 228, 147);
}
.workspace-ribbon .side-dock-actions .clickable-icon:not(.is-active):hover:nth-child(11n+10){
  color: rgb(255, 111, 242);
}
.workspace-ribbon .side-dock-actions .clickable-icon:not(.is-active):hover:nth-child(11n+11){
  color: rgb(64, 224, 208);
}
/* for markdown */
.markdown-preview-view{
  font-family: var(--markdown-font-family);
  font-size: 18px;
}
.markdown-source-view.mod-cm6 .cm-scroller {
  font-family: var(--markdown-font-family);
  font-size: 18px;
}
.clickable-icon[aria-disabled='true'] {
  color: rgb(234, 234, 234);
  opacity: 0.9;
}

/* colored tags */
.metadata-property[data-property-key="tags"] .multi-select-pill{
  font-family: var(--markdown-font-family);
  font-weight: var(--font-weight-600);
}
.metadata-property[data-property-key="tags"] .multi-select-pill:nth-child(7n+1){
  --pill-color: var(--dark);
  --pill-color-hover: var(--dark);
  --pill-color-remove: var(--dark);
  --pill-color-remove-hover: var(--dark);
  --pill-background: rgb(255, 209, 102);
  --pill-background-hover: rgb(230, 184, 77);
  --pill-border-color: rgb(255, 209, 102);
  --pill-border-color-hover: rgb(255, 209, 102);
}
.metadata-property[data-property-key="tags"] .multi-select-pill:nth-child(7n+2){
  --pill-color: var(--dark);
  --pill-color-hover: var(--dark);
  --pill-color-remove: var(--dark);
  --pill-color-remove-hover: var(--dark);
  --pill-background: rgb(255, 243, 77);
  --pill-background-hover: rgb(230, 217, 51);
  --pill-border-color: rgb(255, 243, 77);
  --pill-border-color-hover: rgb(255, 243, 77);
}
.metadata-property[data-property-key="tags"] .multi-select-pill:nth-child(7n+3) {
  --pill-color: var(--dark);
  --pill-color-hover: var(--dark);
  --pill-color-remove: var(--dark);
  --pill-color-remove-hover: var(--dark);
  --pill-background: rgb(95, 255, 209);
  --pill-background-hover: rgb(63, 213, 173);
  --pill-border-color: rgb(95, 255, 209);
  --pill-border-color-hover: rgb(95, 255, 209);
}
.metadata-property[data-property-key="tags"] .multi-select-pill:nth-child(7n+4){
  --pill-color: var(--dark);
  --pill-color-hover: var(--dark);
  --pill-color-remove: var(--dark);
  --pill-color-remove-hover: var(--dark);
  --pill-background: rgb(159, 224, 255);
  --pill-background-hover: rgb(129, 183, 208);
  --pill-border-color: rgb(153, 213, 241);
  --pill-border-color-hover: rgb(153, 213, 241);
}
.metadata-property[data-property-key="tags"] .multi-select-pill:nth-child(7n+5){
  --pill-color: var(--dark);
  --pill-color-hover: var(--dark);
  --pill-color-remove: var(--dark);
  --pill-color-remove-hover: var(--dark);
  --pill-background: rgb(255, 206, 226);
  --pill-background-hover: rgb(232, 185, 204);
  --pill-border-color: rgb(239, 196, 214);
  --pill-border-color-hover: rgb(239, 196, 214);
}
.metadata-property[data-property-key="tags"] .multi-select-pill:nth-child(7n+6){
  --pill-color: var(--dark);
  --pill-color-hover: var(--dark);
  --pill-color-remove: var(--dark);
  --pill-color-remove-hover: var(--dark);
  --pill-background: rgb(255, 170, 133);
  --pill-background-hover: rgb(230, 145, 109);
  --pill-border-color: rgb(255, 170, 133);
  --pill-border-color-hover: rgb(255, 170, 133);
}
.metadata-property[data-property-key="tags"] .multi-select-pill:nth-child(7n+7){
  --pill-color: var(--dark);
  --pill-color-hover: var(--dark);
  --pill-color-remove: var(--dark);
  --pill-color-remove-hover: var(--dark);
  --pill-background: rgb(247, 205, 255);
  --pill-background-hover: rgb(226, 181, 224);
  --pill-border-color: rgb(239, 197, 243);
  --pill-border-color-hover: rgb(239, 197, 243);
}
/* Changes styles for tag like elements */
.metadata-property:not([data-property-key="tags"]) .multi-select-pill{
  border: 2px solid var(--light);
  background-color: transparent;
  font-weight: var(--font-weight-600);
  padding: 0px 5px 0px 5px;
}


/* Changes styles for tag elements in markdown view and editor view.  */
a.tag,
.cm-hashtag.cm-hashtag-begin,
.cm-hashtag.cm-hashtag-end{
  --tag-color: var(--dark);
  --tag-color-hover: var(--dark);
  --tag-color-remove: var(--dark);
  --tag-color-remove-hover: var(--dark);
  font-weight: var(--font-weight-600);
}

a.tag:nth-child(7n+1),
.cm-hashtag.cm-hashtag-begin:nth-child(7n+1),
.cm-hashtag.cm-hashtag-end:nth-child(7n+1){
  --tag-background: rgb(255, 209, 102);
  --tag-background-hover: rgb(230, 184, 77);
  --tag-border-color: rgb(255, 209, 102);
  --tag-border-color-hover: rgb(255, 209, 102);
}
a.tag:nth-child(7n+2),
.cm-hashtag.cm-hashtag-begin:nth-child(7n+2),
.cm-hashtag.cm-hashtag-end:nth-child(7n+2){
  --tag-background: rgb(255, 243, 77);
  --tag-background-hover: rgb(230, 217, 51);
  --tag-border-color: rgb(255, 243, 77);
  --tag-border-color-hover: rgb(255, 243, 77);
}
a.tag:nth-child(7n+3),
.cm-hashtag.cm-hashtag-begin:nth-child(7n+3),
.cm-hashtag.cm-hashtag-end:nth-child(7n+3){
  --tag-background: rgb(97, 255, 210);
  --tag-background-hover: rgb(63, 213, 173);
  --tag-border-color: rgb(95, 255, 209);
  --tag-border-color-hover: rgb(95, 255, 209);
}
a.tag:nth-child(7n+4),
.cm-hashtag.cm-hashtag-begin:nth-child(7n+4),
.cm-hashtag.cm-hashtag-end:nth-child(7n+4){
  --tag-background: rgb(159, 224, 255);
  --tag-background-hover: rgb(129, 183, 208);
  --tag-border-color: rgb(153, 213, 241);
  --tag-border-color-hover: rgb(153, 213, 241);
}
a.tag:nth-child(7n+5),
.cm-hashtag.cm-hashtag-begin:nth-child(7n+5),
.cm-hashtag.cm-hashtag-end:nth-child(7n+5){
  --tag-background: rgb(255, 206, 226);
  --tag-background-hover: rgb(232, 185, 204);
  --tag-border-color: rgb(239, 196, 214);
  --tag-border-color-hover: rgb(239, 196, 214);
}
a.tag:nth-child(7n+6),
.cm-hashtag.cm-hashtag-begin:nth-child(7n+6),
.cm-hashtag.cm-hashtag-end:nth-child(7n+6){
  --tag-background: rgb(255, 170, 133);
  --tag-background-hover: rgb(230, 145, 109);
  --tag-border-color: rgb(255, 170, 133);
  --tag-border-color-hover: rgb(255, 170, 133);
}
a.tag:nth-child(7n+7),
.cm-hashtag.cm-hashtag-begin:nth-child(7n+7),
.cm-hashtag.cm-hashtag-end:nth-child(7n+7){
  --tag-background: rgb(247, 205, 255);
  --tag-background-hover: rgb(226, 181, 224);
  --tag-border-color: rgb(239, 197, 243);
  --tag-border-color-hover: rgb(239, 197, 243);
}

select, .combobox-button, .dropdown{
  color: rgb(198, 208, 245);
  background-color: var(--dark-3);;
}
@media (hover: hover) {
  .multi-select-pill-remove-button:hover {
    color: var(--pill-color-remove-hover);
  }
}
@media (hover: hover) {
  .text-icon-button.has-active-menu, .text-icon-button:hover {
    box-shadow: var(--box-shadow-mn);
  }
}
.text-icon-button {
  background: var(--dark-4);
  box-shadow: var(--box-shadow-mn);
}

@media (hover: hover) {
  .metadata-property:hover{
    border: 1px solid var(--light);
  }
}
.metadata-container .metadata-show-source-button, .metadata-container .metadata-add-button{
  margin-top: 1em;
}
/* tweak in app close button color */
@media (hover: hover) {
  .mod-linux .titlebar-button.mod-close:hover, .mod-windows .titlebar-button.mod-close:hover {
    background-color: var(--background-modifier-error);
    color: var(--dark);
  }
}
/* hide metadata divider for sidebar at the right side of the workspace */
.workspace > .workspace-split:not(.mod-root) .metadata-container {
  --metadata-divider-width: 0;
}
/* bold text color */
b, strong {
  font-weight: var(--font-weight-800);
  color: var(--light-2);
}
/* cursor color during file name edit */
.tree-item-self.is-being-renamed [contenteditable="true"], .tree-item-self.is-being-renamed .tree-item-inner {
  cursor: text;
  flex-grow: 1;
  caret-color: auto;
}
/* background of folders being renamed */
.tree-item-self.is-being-renamed:focus-within {
  color: var(--nav-item-color-active);
  box-shadow: 0 0 0 2px var(--interactive-accent);
  background: rgb(250, 235, 215);
}
.suggestion-highlight:hover {
  text-decoration: none;
  color: rgb(0 0 0);
}
/* @settings
name: CSS Styling
id: css-styling

settings:
	- id: instructions
		title: Instructions for everyone
		type: heading
    level: 1
		collapsed: false
		description: Download Style Settings Plugin from obsidian community plugin store to view these settings. Make sure to download the Merienda and Comic Sans MS font from Google Fonts or any other source and install it on your system to see the intended font style in the app[as extra measure]. As for if you want to add any other fonts to the theme or for table styling, make sure to add them to your system as well. Also, for the any styling options here to take effect, ensure that you have configured the options here. Updated in 08/04/2026 (UTC+5:30) by @arg387...
  - id: Header
		title: Header Settings
    description: Settings related to header alignment
		type: heading
		level: 2
		collapsed: true
  - id: center-all-header-reading
    title: Center all headers in note reading mode
    description: Toggle to enable or disable centering the headers of markdown notes in reading mode.
    type: class-toggle
    default: false
  - id: center-all-header-editing
    title: Center all headers in note editing mode
    description: Toggle to enable or disable centering the headers of markdown notes in editing mode.
    type: class-toggle
    default: false
  - id: table-styling
    title: Table Settings
    description: Settings related to table styling
    type: heading
    level: 2 
    collapsed: true
  - id: table-top-row-background
		title: table top row background color
		description: Background color for the top row of tables.
		type: variable-color
		format: hex
		default: '#000000'
  - id: table-first-column-background
		title: table first column background color
		description: Background color for the first column of tables.
		type: variable-color
		format: hex
		default: '#000000'
  - id: text-font-top-row
    title: Text font for top row of tables
    description: Font used for the text in the top row of tables.
    type: variable-text
    default: Merienda, cursive
  - id: text-font-first-column
    title: Text font for first column of tables
    description: Font used for the text in the first column of tables.
    type: variable-text
    default: Merienda, cursive  
  - id: text-top-row-color
    title: Text color for top row of tables
    description: Color of the text in the top row of tables.
    type: variable-color
    format: hex
    default: '#ffffff'
  - id: text-first-column-color
    title: Text color for first column of tables
    description: Color of the text in the first column of tables.
    type: variable-color
    format: hex
    default: '#ffffff'
  - id: ribbon and titlebar color styling
    title: sidebar ribbon and titlebar color styling
    description: Settings related to sidebar ribbon and titlebar styling
    type: heading
    level: 2 
    collapsed: true
  - id: titlebarandribbonbar-background-color
    title: Titlebar and sidebar ribbon background color 
    description: Set the background color for the titlebar and sidebar ribbon.
    type: variable-color
    format: hex
    default: '#091e20d8'
  - id: titlebarandribbon-font-color
    title: Titlebar font color 
    description: Set the font color for the titlebar and sidebar ribbon.
    type: variable-color
    format: hex
    default: '#c6d0f5'

*/

  
*/
/* for editor mode */
body.center-all-header-editing [dir='ltr'] {
 text-align: center;
}
/* for reading mode */
body.center-all-header-reading h1,
body.center-all-header-reading h2,
body.center-all-header-reading h3,
body.center-all-header-reading h4,
body.center-all-header-reading h5,
body.center-all-header-reading h6 {
  text-align: center;
}
.mod-root .workspace-tab-header-status-icon {
  color: rgb(247, 205, 255);
}
/* table styles */
.cm-html-embed tbody tr > td:first-child, .markdown-rendered tbody tr > td:first-child {
  border-left-width: var(--table-column-first-border-width);
  background: var(--table-first-column-background);
  font-family: var(--text-font-first-column);
  color: var(--text-first-column-color);
}
.cm-html-embed thead tr > th:first-child, .markdown-rendered thead tr  {
  background: var(--table-top-row-background);
  border-left-width: var(--table-column-first-border-width);
  font-family: var(--text-font-top-row);
}
.cm-html-embed thead tr > th, .markdown-rendered thead tr > th{
  color: var(--text-top-row-color);
}
.cm-html-embed th, .markdown-rendered th{
  font-weight: var(--font-weight-800);
}
 
@media (hover: hover) {
  .cm-html-embed thead tr:hover, .markdown-rendered thead tr:hover {
    background-color: var(--table-top-row-background);
  }
}
/* sidebar color and top bar color changing part */
body.is-focused .titlebar, body.is-focused .workspace-ribbon.mod-left {
  --titlebar-background: var(--titlebarandribbonbar-background-color);
}
.workspace-ribbon.mod-left {
  margin-top: var(--header-height);
  background: var(--titlebarandribbonbar-background-color);
}
div.workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed {
  background: var(--titlebarandribbonbar-background-color);
}
.workspace-ribbon .side-dock-actions .clickable-icon{
  color: var(--titlebarandribbon-font-color);
}
.is-focused .titlebar-inner {
    color: var(--titlebarandribbon-font-color);

}
div.sidebar-toggle-button.mod-left .clickable-icon {
  color: var(--titlebarandribbon-font-color);
}
/* This part is inside mcq.css file so i have commented it */

/* 
ul > li.task-list-item[data-task="m"], ul > li.task-list-item[data-task="m"] {
    text-decoration: none;
    color: var(--checklist-done-color);
}
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="m"] {
    text-decoration: none;
    color: var(--checklist-done-color);
} */
/* Excalidraw css styles updated with latest Excalidraw plugin version 2.19.2. I have migrated it to Excalidraw.css file so if you want to use it separately check it out. I will also update it here until i am using it for my works. This is fully my own customization so make sure to suggest me any features you want me to add.*/


.excalidraw {
  --default-button-size: 2rem !important;
  --lg-button-size: 2rem !important;
  --lg-icon-size: 1.5rem !important;
  --default-icon-size: 1.5rem !important;
}
.excalidraw .sidebar-trigger {
  padding: 0;
}
.mobile-misc-tools-container{
  padding: 0.8rem;
  gap: 1rem;
}
.excalidraw .dropdown-menu .dropdown-menu-item-base {
  box-sizing: border-box;
  color: var(--color-on-surface);
  column-gap: .625rem;
  display: flex;
  font-family: inherit;
  font-size: 17px;
  font-weight: var(--font-weight-600);
  width: 100%;
}
.excalidraw [data-testid="canvas-background-label"] {
  font-size: 1.4rem !important;
  text-align: center;
}
.excalidraw .dropdown-menu .dropdown-menu-item svg {
  width: 2rem;
  height: 2rem;

}
.excalidraw .selected-shape-actions .control-label, .excalidraw .selected-shape-actions h3, .excalidraw .selected-shape-actions legend {
  color: var(--text-primary-color);
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 .25rem;
}
.excalidraw .App-mobile-menu {
  width: 20rem !important;
}
.excalidraw--tray.excalidraw .App-bottom-bar {
  max-width: 30rem;
}
.excalidraw .dropdown-menu--tray {
  left: 0;
  row-gap: .75rem;
  width: fit-content;
}
.excalidraw .library-menu-items-container__search {
  margin-left: 1px;
  flex: 1 1 auto;
}
.excalidraw .color-picker__heading {
  font-size: 1.2rem;
  text-align: left;
}
.excalidraw .App-toolbar__divider {
  background-color: #ffffff;
  width: 2px;
}

/* ************************************************************* */
/* ************************************************************* */
/* for coloring file and folder titles */
/*This part's author: sailKite
source: https://discord.com/channels/686053708261228577/702656734631821413/1163095446919585843
*/

/* updated snippet for v1.6.3  */
/* Added my own colors */


.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:hover {
  filter: brightness(0.9);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 2) {
  --nav-item-color: #FFF34D;
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 3) {
  --nav-item-color: #FFB347;
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 4) {
  --nav-item-color: #FF4DA6;
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 5) {
  --nav-item-color: #6FE7FF;
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 6) {
  --nav-item-color: #A4FF4D;
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 7) {
  --nav-item-color: #FF2E63;
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 8) {
  --nav-item-color: #9D4DFF;
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 9) {
  --nav-item-color: #FFC94D;
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 10) {
  --nav-item-color: #4DFFD6;
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 11) {
  --nav-item-color: #66B3FF;
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(11n + 12) {
  --nav-item-color: #7CFFD5;
}
/* ****************************************************************** */
